/*CSS para dividr la pagina en dos */
.container, .containerG{
    width: 50%; 
  }
.container{
    display: flex;
}

/*CSS para acomodar */
h1{
    color: rgb(61, 49, 235);
    font-size: 20px;
    padding: 25px 25px;
}
.ima{
    width: 200px;
    height: 150px;
    padding: 15px 15px 10px 20px;
}
.imagenG{
    width: 400px;
    height: 320px;
    padding: 15px 5px;
}
p{
    padding: 0px 25px;
}
